:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 30vw;
    padding: 15px;
}

.right {
    width: 75vw;
    height: 110vh;
    margin: 20px;
}

.home .logo img {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 0;
}

.home img {
    width: 1vw;
}

.home ul li {
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 14px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 70px;
}

.header .hamburger{
    height: 30px;
    width: 50px;
}

.header * {
    padding: 5px;
}

.cardcontainer {
    margin: 30px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(32, 29, 29);
    transition: all .9s;
}
.card:hover{
     background-color: rgb(61, 57, 57);
     cursor: pointer;
     --a:1;
}
.card img {
    width: 100%;
    object-fit: contain;
}

.playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
    background-color: #2ecc71;
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    fill: black;
    stroke: black;
    stroke-width: 1.5;
    stroke-linejoin: round;
    padding: 2px;
    position: absolute;
    top: 120px;
    right: 30px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.button>* {
    padding: 0 10px;
}

.signup {
    background-color: rgb(32, 29, 29);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.signup:hover {
    font-size: 17px;
    color: white;
}

.login {
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    width: 80px;
}

.login:hover {
    font-size: 17px;
    font-weight: bold;
    padding: 12px;
}

.play{
    position: fixed;
    bottom: 10px;
    background-color: rgb(177 176 166);
    width: 67.5%;
    height: 55px;
    padding: 10px;
    border-radius: 10px;
    filter: invert(1);
    min-height: 25px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky;
    width: 200px;
}

.songlist{
    height: 500px;
    overflow: auto;
    margin-bottom: 30px 0;
}

.songlist ul li{
    list-style-type: decimal;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px 0px;
    justify-content: space-between;
    gap: 10px;
}

.songlist .playnow{
    display: flex;
    padding: 20px;
    align-items: center;
}

.songlist .sign{
    width: 38px;
    margin-left: 20px;
}

.songlist ul li .info{
    margin-left: 20px;
    margin-top: 10px;
    padding: 4px;
}


.playnow span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}
.playnow img{
    height: 36px;
    width: 33px;
}

.seekbar{
    background:  black;
    border-radius: 2px;
    width: 98%;
    bottom: 0;
    position: absolute;
    margin-bottom: 2px;
    height: 4px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 6px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{
    color: black;
    padding: 0 5px;
    width: 200px;
}

.songTime{
    color: black;
    padding: 0 5px;
    width: 150px;
}

.songbuttons img{
    cursor: pointer;
}

.display{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.close{
    display: none;
}

.volume img{
    width: 30px;
    margin-left: 10px;
}

.volume{
    gap: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.range{
    width: 80px;
}

.range input{
    width: 65px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        width: 425px;
    }
    .left .close{
        position: absolute;
        right: 31px;
        width: 30px;
        top: 25px;
    }
    .right{
        width: 100vw;
    }
    .play{
        width: calc(100vw - 55px);
        font-size: 15px;
        height: 80px;
        position: fixed;
    }
    .songbuttons img{
        width: 20px;
    }
    .songbuttons{
        width: calc(100vw - 40px);
    }
    .seekbar{
        width: calc(100vw - 55px);
    }
    .header .hamburger{
        height: 30px;
        width: 45px;
    }
    .close{
        display: block;
    }
    .card{
        width: 40vw;
    }
    .cardcontainer{
        margin: 0;
        justify-content: center;
    }
    .songinfo, .songTime{
        width: auto;
    }
    .volume img{
        width: 30px;
        margin-left: 10px;
    }
    .volume {
        right: -25px;
        position: relative;
    }
    .playbutton{
        top: 280px;
    }
    
}
@media (max-width: 550px){
    .card{
        width: 80vw;
    }
    .container .left{
        width: 360px;
        padding: 0;
        overflow-x: hidden;
    }
    .play{
        width: calc(100vw - 60px);
    }
    .seekbar{
        width: calc(100vw - 60px);
    }

}